* {
background-color:rgba(0,0,0,0);
margin:0px;
font-family: "Roboto",sans-serif;
outline: 0px auto -webkit-focus-ring-color;  
}
body{
width:100%;
}
a{
text-decoration:none;
}
hr{
width:90%;
color:#008f95;
}
img{
width: 300px;
height: auto;
}

#cabecalho{
z-index: 999;
width:93%;
height:76px;
background-color:#008f95;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}



/*tags*/
#tags div{
display:block;
background-color:gainsboro;
color:black;
padding:8px;
border-radius:6px;
margin:4px;
display:inline-block;
}
#tags div:hover{
background-color:gray;
}
/*tags fim*/

/*center itens*/ 
.item-center{
display:flex;
align-items:center;
justify-content:center;
}
/*itens center fim*/

/*store loja*/
.store{
text-align:left;
font-size:18px;
color:#062f4f;
}
/*store loja*/

@media only screen and (min-width: 1000px) {
.my-grid-container2 {
  display: grid;
  grid-template-columns: 40% 40%;
  font-size: 1.148698355em;
  padding-bottom:20px;
  max-width:1600px;
}
.my-grid-item{
padding:0!important;
}
.x{
grid-template-columns: 60% 40%;
}

}

@media only screen and (max-width: 1000px) {
.my-grid-item{
padding:8px!important;
}
}

.alinhar-left{
text-align: left;
}

.name{
color:#333;
font-size:20px;
font-weight:bold;
}


.disconto{
font-size:18px;
color:gray;
padding-bottom:24px;
}


/*price*/
.offer-label{
display: block;
font-size: 12px;
color: #464646;
padding: 0;
}
.price{
color:#0082d6;
font-size:26px;
}

.prestacao{
font-size:16px;
}

/*Btt IR a loja*/
.y{
text-align:right;
line-height:4;
}
.ofertaIrLoja{
font-size:16px;
min-width: 100px;
color: #fff;
background-color: #ff9100;
border-color: #ff9100;
width: 100px;
height:40px;
border-radius:5px;
padding-left:15px;
padding-right:15px;
font-weight:bold;
display: inline-flex;
align-items: center;
justify-content: center;
}
.ofertaIrLoja:hover{
background-color:#ffad40;
}
/*Fim Btt IR a loja*/


/*Compare preços view*/
.div-product-comparar{
width:100%;
flex-wrap: wrap;
justify-content: center;
}

.productDivTable{
max-width:480px;
background-color:transparent;
}

.productTable{
max-width:480px;
min-width:300px;
padding:15px;
margin-bottom:8px;
border: 1px solid gainsboro;
background-color: gainsboro;
}

.imgTD{
background-color:white;
padding:20px;
border-radius:80px;

}


/*Para imagens que falharam*/

.imgCategError{
padding: 4px;
width: 100px;
height: 200px;
background-color: darkgray;
display: inline-flex;
justify-contents: center;
align-items: center;
}



/*Compare preços view FIM*/
